<li><a href='/projects'>
    <i class='large material-icons' style='margin: 2px;'>list</i>
    Listar Actividad</a></li>
<li class='divider'></li>
<li><a href='/projects/add'>
    <i class='large material-icons' style='margin: 2px;'>add_box</i>
    Registrar Actividad</a></li>