<br><br>
<div class="row center N/A transparent" 
style="padding: 2em; border-radius:1em">
    <h1 class="header center white-text text-darken-9">
        Bienvenido a My Itinerary
    </h1>
    <div class="row center">
        <h5 class="header col s12 white-text text-darken-3">
            Una aplicacion que te permitira registrar
            las actividades de tu dia a dia.
        </h5>
    </div>
    <div class="row center">
        <a href="/projects/add" class="btn-large waves-effect waves-light blue">
            Registra una actividad
        </a>
    </div>
</div>
